* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #F6F6F6;
    color: #333;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #F6F6F6;
    color: #333;
    padding: 15px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header h2 {
    font-size: 40px;
    width: 40%;
    font-weight: bold;
    margin: 0;
    margin-left: 10%;
  }
  
  header p {
    font-size: 16px;
    margin: 0;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .calendar-container {
    max-width: 1200px;
    min-width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .react-calendar {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .react-calendar__navigation {
    display: flex;
  }
  .react-calendar__navigation button{
    background-color: #AAAAAA;
    color: #333;
    border-radius: 0;
  }

  .react-calendar__viewContainer button{
    background-color: white;
    color: #333;
  }

  .react-calendar__tile{
    height: 75px;
  }

  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #CBF1F5;
  }

  .react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day{
    background-color: #FFC7C7;
  }
  .react-calendar__month-view__weekdays__weekday {
    text-align: center;
    padding: 10px;
  }
  
  .react-calendar__month-view__days button{
    background-color: white;
    color: #333;
  }

  .react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
    color: #e53935;
  }
  .react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth{
    color: #ccc;
  }

  .react-calendar button:hover {
    background-color: dimgray;
  }

  .react-calendar abbr {
    font-size: 15px;
  }

  .react-calendar__tile--active {
    background-color: #4CAF50;
    color: white;
  }
  
  .todo-list {
    margin-top: 20px;
  }
  
  .add-todo {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .add-todo input {
    flex-grow: 1;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-todo button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: skyblue;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-todo button:hover {
    background-color: #45a049;
  }
  
  .todo-list ul {
    list-style: none;
    padding: 0;
  }
  
  .todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo-list li button {
    background-color: #f44336;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
  }
  
  .todo-list li button:hover {
    background-color: #e53935;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .popup button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .popup button:hover {
    background-color: #45a049;
  }
  
  .calendar-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }
  
  .calendar-left {
    flex: 1;
  }
  
  .calendar-right {
    background-color: #FFE2E2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .today-schedule {
    margin-bottom: 20px;
  }
  
  .today-schedule h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .today-schedule ul {
    list-style: none;
    padding-left: 0;
  }
  
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .popup button {
    margin: 5px;
  }
  /* Modal 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

/* 선 스타일 */
.start-end-todo {
  position: relative;
}

.start-end-todo::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background-color: red; /* 선 색상 */
  z-index: -1;  /* 선이 날짜 위로 가도록 설정 */
}

button {
  background-color: #A6E3E9;
}

.nickname {
  font-size: 25px; 
  font-weight: bold; 
  color: #71C9CE;
}

.close-btn {
  font-size: 40px;
  float: right;
}