/* styles/login.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #FFE2E2 !important; /* 배경색 */
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 화면 전체 높이 */
  width: 100vw; /* 화면 전체 너비 */
  padding: 20px;
  position: relative; /* 자식 요소의 절대 위치를 위한 설정 */
}

h1 {
  color: #FF6B6B; /* 제목 색상 */
  font-size: 2.5em; /* 제목 크기 */
  margin-bottom: 10px; /* 제목과 버튼 간의 간격 */
}

h2 {
  color: #333; /* 서브 제목 색상 */
  font-size: 1.5em; /* 서브 제목 크기 */
  margin-bottom: 30px; /* 서브 제목과 버튼 간의 간격 */
}

.kakao-login-button {
  background-color: #FEE500; /* 카카오 버튼 배경색 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px; /* 버튼 간의 간격 */
}

.kakao-login-button:hover {
  background-color: #FFD700; /* 호버 시 색상 변경 */
}

.nickname-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 300px; /* 모달 너비 */
}

.nickname-modal h3 {
  margin-bottom: 15px; /* 제목과 입력 필드 간의 간격 */
}

.nickname-modal input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* 입력 필드와 버튼 간의 간격 */
  width: 100%; /* 입력 필드 너비 */
}

.nickname-modal button {
  background-color: #FF6B6B; /* 버튼 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nickname-modal button.cancel {
  background-color: #ccc; /* 취소 버튼 색상 */
}

.nickname-modal button:hover {
  background-color: #FF4C4C; /* 호버 시 색상 변경 */
}

.login-container h1,
.login-container h2 {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* 텍스트 그림자 추가 */
}

.kakao-login-button img {
  vertical-align: middle; /* 이미지 정렬 */
  margin-right: 8px; /* 이미지와 텍스트 간의 간격 */
}

.smile-gif {
  width: 100px; /* 이미지 너비 */
  height: 100px; /* 이미지 높이 */
  margin-bottom: 20px; /* 이미지와 텍스트 간의 간격 */
}

.img-container-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.star3-gif {
  width: 200px; /* 이미지 너비 */
  height: 200px; /* 이미지 높이 */
  margin-bottom: 20px; /* 이미지와 텍스트 간의 간격 */
}
.heartwing-gif {
  width: 200px; /* 이미지 너비 */
  height: 100px; /* 이미지 높이 */
  margin-bottom: 20px; /* 이미지와 텍스트 간의 간격 */
}
